/* This file is for your main application css. */

@import "./phoenix.css";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";


form > span {
  float: left;
  padding: 15px 10px 5px;
}

label {
  width: 370px;
  text-align: right;
  float: left;
  clear: both;
}

input[type="text"] {
  width: 160px;
}


section#server-form {
  margin-top: 40px;
}

div#servers-list-wrapper section {
  border-bottom: 1px solid lightgrey;
  margin-top: 10px;
}


div#servers-list-wrapper span {
  display: inline-block;
  width: 100px;
  margin: 5px;
}


div#servers-list-wrapper span.max-pl,
div#servers-list-wrapper span.server-status,
div#servers-list-wrapper span.controller-status {
  width: 20px;
  text-align: center;
}


div#servers-list-wrapper input[type="button"] {
  padding: 0;
  height: 20px;
  line-height: 10px;
}

form label {
  font-size: 14px;
}



#server-update-form {
    width: 100%;
    position: relative;
    clear: both;
}

#server-update-form section {
    width: 48%;
    position: absolute;
    border: 1px solid lightgrey;
}

#server-update-form h1,
#server-update-form h2 {
  text-align: center;
  width: 99%;
  display: inline-block;
  margin: 0.7em 0 0.2em;
}

#server-update-form h1 {

}
#server-update-form h2 {
  text-align: center;
  width: 99%;
  display: inline-block;
}

#server-update-form label {

}

#server-update-form hr {
  display: inline-block;
  width: 99%;

}


#server-update-form #server-settings {
  position: absolute;
  right: 0;
  margin: 1px;
}

#server-update-form label  {
  width: 50%;
  clear: none;
  padding-right: 10px;
  position: relative;
}

#server-update-form textarea  {
  width: 200%;
  left: -100%;
  position: relative;
}

form input[type=text],
form select {
  border: 0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 4px;
  border-radius: 0;
  font-size: 14px;
  padding: 0px;
  height: 22px;
  width: 100px;
  text-align: center;
}

form select {
  padding-right: 12px;
}



/************* Tracklist ********************/

section#tracklist {
  width: 470px;
  float: left;
  font-size: 12px;
  background-color: lightgrey;
}


section#tracklist .row,
div.track-placeholder {
  border-radius: 4px;
  padding: 2px;
  margin: 2px 4px;
  height: 20px;
  width: auto;
  font-size: 12px;
}

section#tracklist .row {
  background-color: white;
}

div.track-placeholder {
  border: 2px dashed grey;
  height: 16px;
}

section#tracklist .row.sss {
  margin-top: 20px;
}


/********** MX Search Section ***************/


section#search-tracks {
  background-color: #00715a;
  width: 470px;
  float: right;
}

section#search-tracks form {
  height: 52px;
}

section#search-tracks form label,
section#search-tracks form button {
  display: inline-block;
  width: 100px;
  clear: none;
  text-align: center;
  margin: 0 5px;
  color: white;
}

section#search-tracks div.track-search-item {
  border-radius: 4px;
  background-color: white;
  margin: 2px 0;
  font-size: 12px;
}

section#search-tracks-results  div.row {
  margin: 2px 4px;
  font-size: 12px;
  width: auto;
  height: 20px;
}

div.track-id {
  width: 46px;
  text-align: center;
}

div.track-name {
  width: 250px;
}

div.track-author {
  width: 100px;
  text-align: center;
}

div.track-rewards {
  width: 24px;
  text-align: center;
}
