/* This file is for your main application css. */

@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";


body > header {
  height: 30px;
}

/********************************************************/
/********************** USER SESSION ********************/
/********************************************************/

nav[role=session-management] {
  position: absolute;
  right: 0;
}

nav[role=session-management] h1 {
  font-size: 16px;
}

nav[role=session-management] > * {
  float: left;
  padding: 5px 10px;
  margin: 0;
  line-height: 1.25;
  background-color: var(--ftc-white-color);
}


/********************************************************/
/*********************** MAIN MENU **********************/
/********************************************************/

nav#main-menu {
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 100;
}

nav#main-menu > ul > li {
background-color: white;
  float: left;
  width: 100px;
  text-align: center;
}

nav#main-menu > ul > li > span {
  float: left;
  width: 100px;
  border: 1px solid lightgrey;
}

nav#main-menu li > ul {
  width: 100px;
  margin: 28px 0 0;
  padding-bottom: 10px;
  border: 1px solid lightgrey;
  border-top: 0;
  text-align: center;
}

nav#main-menu li > ul {
  display: none;
}

nav#main-menu li:hover > ul {
  display: block;
}

nav#main-menu li > ul a {
  text-align: center;
}





:root {
  --ftc-red-color: #991b15;
  --ftc-white-color: #e9dfc0;
}

form > span {
  float: left;
  padding: 15px 10px 5px;
}

label {
  width: 370px;
  text-align: right;
  float: left;
  clear: both;
}

input[type="text"] {
  width: 160px;
}


section#server-form {
  margin-top: 40px;
}

div#servers-list-wrapper section {
  border-bottom: 1px solid lightgrey;
  margin-top: 10px;
}


div#servers-list-wrapper span {
  display: inline-block;
  width: 100px;
  margin: 5px;
}


div#servers-list-wrapper span.max-pl,
div#servers-list-wrapper span.server-status,
div#servers-list-wrapper span.controller-status {
  width: 20px;
  text-align: center;
}


div#servers-list-wrapper input[type="button"] {
  padding: 0;
  height: 20px;
  line-height: 10px;
}

form label {
  font-size: 14px;
}



#server-update-form {
    width: 100%;
    position: relative;
    clear: both;
}

#server-update-form section {
    width: 48%;
    position: absolute;
    border: 1px solid lightgrey;
}

#server-update-form h1,
#server-update-form h2 {
  text-align: center;
  width: 99%;
  display: inline-block;
  margin: 0.7em 0 0.2em;
}

#server-update-form h1 {

}
#server-update-form h2 {
  text-align: center;
  width: 99%;
  display: inline-block;
}

#server-update-form label {

}

#server-update-form hr {
  display: inline-block;
  width: 99%;

}


#server-update-form #server-settings {
  position: absolute;
  right: 0;
  margin: 1px;
}

#server-update-form label  {
  width: 50%;
  clear: none;
  padding-right: 10px;
  position: relative;
}

#server-update-form textarea  {
  width: 200%;
  left: -100%;
  position: relative;
}

form input[type=text],
form select {
  border: 0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 4px;
  border-radius: 0;
  font-size: 14px;
  padding: 0px;
  height: 22px;
  width: 100px;
  text-align: center;
}

form select {
  padding-right: 12px;
}



/************* Tracklist ********************/

section#tracklist {
  width: 470px;
  float: left;
  font-size: 12px;
  background-color: lightgrey;
}


section#tracklist .row,
div.track-placeholder {
  border-radius: 4px;
  padding: 2px;
  margin: 2px 4px;
  height: 20px;
  width: auto;
  font-size: 12px;
}


div#current-track-status {
  float: left;
  left: -20px;
  top: 13px;
  position: relative;
}


div#tracks-list div.row:first-child {
  color:red;
  height: 28px;
  margin: 10px 4px 6px;
  padding-top: 5px;
}

section#tracklist .row {
  background-color: white;
}

div.track-placeholder {
  border: 2px dashed grey;
  height: 16px;
}

section#tracklist .row.sss {
  margin-top: 20px;
}

section#tracklist .track-remove:hover {
  cursor: pointer;
}


section#tracklist .track-play {
  margin: 0 10px;;
}

section#tracklist .track-play:hover {
  cursor: pointer;
}

section#tracklist img {
  width: 15px;
  height: 15px;
}


/*********** Chat Section ******************/

section#game-server-chat {
  float: left;
  position: fixed;
  left: 0;
  top: 20px;
  width: 300px;
  background-color: white;
  font-size: 12px;
  padding: 4px;
  border: 1px solid lightgray;
  margin: 2px;
}

section#game-server-chat .chat-message {
  margin-bottom: 4px;
}

section#game-server-chat .chat-message-author {
  font-weight: bold;
}

section#game-server-chat #chat-box {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}


/********** MX Search Section ***************/


section#search-tracks {
  background-color: #00715a;
  width: 470px;
  float: right;
}

section#search-tracks form {
  height: 52px;
}

section#search-tracks form label,
section#search-tracks form button {
  display: inline-block;
  width: 100px;
  clear: none;
  text-align: center;
  margin: 0 5px;
  color: white;
}

section#search-tracks div.track-search-item {
  border-radius: 4px;
  background-color: white;
  margin: 2px 0;
  font-size: 12px;
}

section#search-tracks-results  div.row {
  margin: 2px 4px;
  font-size: 12px;
  width: auto;
  height: 20px;
}

div.track-id {
  width: 46px;
  text-align: center;
}

div.track-name {
  width: 250px;
}

div.track-author {
  width: 100px;
  text-align: center;
}

div.track-rewards {
  width: 24px;
  text-align: center;
}




/********************* USERS LIST **********************/


div#users-list-component {
  right: 0;
  position: fixed;
  background-color: var(--ftc-red-color);
  padding: 2px 5px;
}

div#users-list-component section {
  background-color: var(--ftc-white-color);
  margin: 3px 0;
  width: 150px;
  padding: 0px 5px;
}


/********************** SERVER USERS **************************/
.clearfix {
   overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

section#server-users {
  clear: both;
  width: 100%;
  border: 1px solid grey;
  position: relative;
}

section#server-users h1 {
  text-align: center;
}

section#server-users > div {
  position: relative;
}

div#all-users-list {
  width: 75%;
  max-height: 300px;
  overflow-y: scroll;
}

div#all-users-list .user-row.disconnected {
  opacity: 0.4;
}


section#server-users div.user-row {
  border-bottom: 1px solid lightgray;
  padding: 5px 10px;
  height: 38px;
  clear: both;
}

section#server-users div.user-row div {
  float: left;
}

section#server-users div.user-nickname {
  width: 10%;
}

section#server-users .user-role {
  border: 1px solid var(--ftc-red-color);
  padding: 0px 8px;
  border-radius: 7px;
  margin-left: 10px;
}

section#server-users .user-roles {
  width: 90%;
  height: 32px;
}

section#server-users .remove-button {
  background-color: var(--ftc-red-color);
  color: white;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  display: inline-block;
  padding-left: 4px;
  line-height: 19px;
}

section#server-users .remove-button:hover {
  background-color: white;
  color: var(--ftc-red-color);
  border: 1px solid var(--ftc-red-color);
}


div#available-roles {
  width: 23%;
  background-color: gainsboro;
  top: -30px;
  position: absolute;
  right: 10px;
}



div#available-roles span {
  clear: both;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
