#dedicated-servers-versions {
  width: 160px;
  font-size: 14px;
}

.dedicated-server-version {
  border: 1px solid lightgrey;
  margin: 10px 4px;
  height: 40px;
  position: relative;
}

.dedicated-server-version {
  border: 1px solid lightgrey;
}

.dedicated-server-version.in_use {
  border: 1px solid lightblue;
}

.dedicated-server-version.installed {
  border: 1px solid green;
}
.dedicated-server-version .version-name {
  position: absolute;
  font-weight: bold;
  top: -7px;
  left: 7px;
  background-color: white;
  padding: 0 4px;
  float: left;
  line-height: 14px
}

.dedicated-server-version .version-status {
  position: absolute;
  top: 10px;
  left: 8px;
  float: left;
}

.dedicated-server-version button {
  position: absolute;
  font-size: 18px;
  float: right;
  padding: 0;
  height: 30px;
  width: 25px;
  top: 4px;
  right: 3px;
  margin: 0;
}
.dedicated-server-version button i {
  position: relative;
  top: -5px;
  margin: 0;
}
