:root {
  --ftc-red-color: 153, 27, 21;
  --ftc-white-color: 255, 238, 204;
  --mx-lightgreen: 110, 250, 160;
  --mx-darkgreen: 0, 50, 40;
  /* --mx-dark-green: 0, 50, 40; */
  --mx: 0,122,76;
  --mx-plain-green: 0,113,90;
  --mx-pastel: 204,227,227;
  --base-font-size: 12px;
}

@import "./phoenix.css";

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 120px;
}

body > header {
  height: 31px;
  margin-bottom: 0;
  position: relative;
  z-index: 500;
  background-color: rgb(var(--ftc-white-color));
  border-bottom: 3px solid rgb(var(--ftc-red-color));
}

body > main.container {
  overflow: auto;
  box-shadow: 0px 0px 27px rgba(30,30,30,.1);
  padding: 25px 20px;
}

body > footer {
  clear: both;
  background-color: rgb(var(--ftc-white-color));
  min-height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 16px;
  padding: 12px 0;
  border-top: 3px solid rgb(var(--ftc-red-color));
}

footer img#fearthec-footer-logo {
    width: 170px;
    border-right: 1px solid #666;
    padding-right: 20px;
    padding: 10px 20px 10px 0px;
}

footer span.footer-link {
    position: absolute;
    padding: 5px;
}

footer span.footer-link a {
  colot: black;
}

footer div#footer-tech-stacks {
    width: 158px;
    float: right;
    padding: 10px 0px 10px 20px;
    right: 0;
    top: 20px;
    border-left: 1px solid #666;
}

footer img#elixir-logo {
    max-width: 52%;
}




div[data-phx-view="ServerWebpageLive"] h1 {
  width: 100%;
  font-size: 22px;
  text-align: center;
  margin: 10px auto;
}

div[data-phx-view="ServerWebpageLive"] > section {
  float: left;
}


#server-tracklist {
  width: 402px;
}

#server-tracklist .row {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid grey;
  width: 100%;
}

#server-tracklist .track-info {
  width: 140px;
}

#server-tracklist img {
  width: 100%;
}

#server-tracklist .track-info > span {
  float: left;
  height: 22px;
  width: 100%;
  padding: 5px;
  overflow-x: hidden;
  box-sizing:border-box;
}

#server-tracklist .track-name {
  font-size: 14px;
}

#server-tracklist .track-author {
  font-size: 12px;
}

#server-tracklist .track-author span {
  font-style: italic;
  color: #888;
}


div[id$="-records"] {
  float: right;
  width: 250px;
  color: grey;
  font-size: 12px;
  list-style-type: none;
  counter-reset: css-counter 0;
}

div[id$="-records"] div.track-record {
  counter-increment: css-counter 1;
  border-bottom: 1px solid lightgrey;
}

div.track-record {
  height: 24px;
  width: 250px;
  float: left;
}

div.track-record span.rank::before {
  content: counter(css-counter);
  color: lightgrey;
}

div.track-record span {
  color: black;
  float: left;
  position: relative;
  margin: 2px;
  height: 100%;
}

div.track-record span.rank {
  text-align: right;
  width: 20px;
}

div.track-record span.time,
div.track-record span.delta {
  text-align: right;
  width: 56px;
}

div.track-record span.delta {
  color: red;
  text-align: left;
}

div.track-record span.player {
  width: 100px;

}


section#live-race-ranking {
  width: 270px;
  counter-reset: css-counter 0;
}

section#live-race-ranking div {
  font-size: var(--base-font-size);
  counter-increment: css-counter 1;
  border-bottom: 1px solid lightgrey;
}

section#live-race-ranking span {
  display: inline-block;
}

section#live-race-ranking span.rank::before {
  content: counter(css-counter);
}


section#live-race-ranking span.rank {
  text-align: right;
  width: 20px;
  color: lightgrey;
}


section#live-race-ranking span.player {
  text-align: left;
  width: 80px;
  overflow: hidden;
  vertical-align: bottom;
}

section#live-race-ranking span.cp {
  width: 20px;
  text-align: right;
}

section#live-race-ranking span.time {
  width: 70px;
  text-align: right;
}

section#live-race-ranking span.delta {
  width: 65px;
  color: red;
  text-align: left;
}
