# This file is responsible for configuring your application
# and its dependencies with the aid of the Mix.Config module.
#
# This configuration file is loaded before any dependency and
# is restricted to this project.

# General application configuration
use Mix.Config

config :phoenix,
  template_engines: [leex: Phoenix.LiveView.Engine]

config :mppm,
  ecto_repos: [Mppm.Repo]

# Configures the endpoint
config :mppm, MppmWeb.Endpoint,
  url: [host: System.get_env("MPPM_HOST"), port: System.get_env("MPPM_PORT")],
  secret_key_base: System.get_env("MPPM_APP_SECRET"),
  render_errors: [view: MppmWeb.ErrorView, accepts: ~w(html json)],
  pubsub_server: Mppm.PubSub,
  live_view: [
    signing_salt: System.get_env("MPPM_APP_SALT")
  ]

# Configures Elixir's Logger
config :logger, :console,
  format: "$time $metadata[$level] $message\n",
  metadata: [:request_id]

# Use Jason for JSON parsing in Phoenix
config :phoenix, :json_library, Jason


config :mppm,
  app_path: File.cwd!,
  game_servers_root_path: "/opt/mppm/game_servers/"


config :mppm, :ubi_nadeo_api,
  host: "https://tm-api.fearthec.io"

config :mppm, Mppm.Service.Trackmania,
  redirect_uri: "#{System.get_env("NADEO_REDIRECT_URI")}/auth/trackmania/callback",
  authorize_url: "https://api.trackmania.com/oauth/authorize",
  token_url: "https://api.trackmania.com/api/access_token",
  site: "https://trackmania.com",
  response_type: "code"

config :mppm, Mppm.Scheduler,
  jobs: [
    {"0 */1 * * *", {Mppm.GameServer.DedicatedServer, :check_new_versions, []}}
  ]

# Import environment specific config. This must remain at the bottom
# of this file so it overrides the configuration defined above.
import_config "#{Mix.env()}.exs"
