use Mix.Config

# Configure your database
config :mppm, Mppm.Repo,
  username: "postgres",
  password: "postgres",
  database: "mppm",
  port: "5432",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10


config :mppm, MPPM.Service.Trackmania,
  client_id: "",
  client_secret: ""
