use Mix.Config

# Configure your database
config :mppm, Mppm.Repo,
  username: System.get_env("POSTGRES_USER"),
  password: System.get_env("POSTGRES_PASSWORD"),
  database: System.get_env("POSTGRES_DB"),
  port: "5432",
  hostname: System.get_env("MPPM_DB_HOST"),
  show_sensitive_data_on_connection_error: false,
  pool_size: 10


config :mppm, Mppm.Service.Trackmania,
  client_id: System.get_env("NADEO_CLIENT_ID"),
  client_secret: System.get_env("NADEO_CLIENT_SECRET")
